@import url('./main-layout.css');
@import url('./views/registro-view.css');
@import url('./views/iniciosesion-view.css');
@import url('./views/novedades-view.css');
@import url('./views/planes-view.css');
@import url('./views/películas-view.css');
@import url('./views/elegirasiento-view.css');
@import url('./views/comprarentrada-view.css');
@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
    [theme~="dark"] {
      --lumo-shade-5pct: hsla(214, 12%, 14%, 0.05);
      --lumo-shade-10pct: hsla(214, 12%, 14%, 0.1);
      --lumo-shade-20pct: hsla(214, 12%, 14%, 0.2);
      --lumo-shade-30pct: hsla(214, 12%, 14%, 0.3);
      --lumo-shade-40pct: hsla(214, 12%, 14%, 0.4);
      --lumo-shade-50pct: hsla(214, 12%, 14%, 0.5);
      --lumo-shade-60pct: hsla(214, 12%, 14%, 0.6);
      --lumo-shade-70pct: hsla(214, 12%, 14%, 0.7);
      --lumo-shade-80pct: hsla(214, 12%, 14%, 0.8);
      --lumo-shade-90pct: hsla(214, 12%, 14%, 0.9);
      --lumo-primary-color-50pct: rgba(181, 18, 31, 0.5);
      --lumo-primary-color-10pct: rgba(181, 18, 31, 0.1);
      --lumo-shade: hsl(214, 12%, 14%);
      --lumo-primary-color: rgb(181, 18, 31);
      --lumo-primary-text-color: rgb(247, 247, 247);
      --lumo-base-color: rgb(11, 11, 11);
      --lumo-body-text-color: hsla(70, 37%, 93%, 0.9);

    }
